cat <<EOF > .gitignore
# Angular, node
node_modules/
dist/
.env
.DS_Store
EOF
/src/Angular 16
angular.json, package.json, tsconfig.json
git add .
git commit -m "Ajout Angular 16 project + Lesona1 PDF"
git push origin main
